:root{
    --blanco: #fff;
    --oscuro: #000;
    --primario: #0097A7;
    --secundario: #FFC107;
    --gris: #757575;
    --grisClaro:#bbbbbb
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Krub', sans-serif; /*Tipografia para todo el cuerpo*/
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 70%);
}
/*Tipografia*/
p{
    font-size: 1.6rem;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 2rem;
}

@media (min-width: 768px){
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3rem;
    }
    
}
footer{
    font-weight: 700;
    padding-top: 4rem;
}
/*Contenido*/
.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
.content_img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 768px){
    .content_img{
        flex-direction: row;
    }
}

.img__portada{
    width: 30rem;
    height: auto;
    margin: 0 auto;
    padding-top: 3rem;
}

.img__practicas{
    max-width: 90%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--primario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 768px){    
    .navegacion-principal{
        flex-direction: row;
    }
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--secundario);
    color: var(--oscuro); 
}
.ParrafoSuperior{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem auto;
}

.contenedor-codigo {
    display: inline-block;
    background-color: #f1f1f1; /* Color de fondo */
    padding: 2rem; /* Espaciado interno */
    border: 0.1rem solid #ccc; /* Borde con color */
    border-radius: 0.5rem; /* Esquinas redondeadas */
    font-family: 'Courier New', monospace; /* Fuente de monoespacio para el código */
    overflow: auto; /* Barra de desplazamiento si el código es largo */
    text-align: start; /*Alinea el texto a la izquierda*/
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    max-width: 85%;
}
